@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #1D4E89;
  color: #fff;
  line-height: 1.6;
}

header {
  display: flex;
  padding: 1rem 2rem;
}

#logo {
  font-weight: bolder;
  font-size: 1.25rem;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 0 20px;
}

.title-container {
  text-align: center;
  margin-bottom: 2.25rem;
}

.title {
  font-size: 2rem;
}

.txt-primary {
  color: #F79256;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

a:hover {
  color: #F79256;
}

.report {
  width: 100%;
  background-color: #fff;
  color: black;
  border-radius: .75rem;
  min-height: 10rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.report-header-container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}

.txt-secondary {
  color: #7DCFB6;
}

.txt-sm {
  font-size: .8rem;
  line-height: 1.25;
}

.right-column {
  text-align: right;
}

.time-label {
  font-size: .8rem;
  color: darkgray;
}

.time-tracker {
  font-size: 2.5rem;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  background-color: #eee;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td:nth-child(4), td:nth-child(5) {
  text-align: right;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.pagination button {
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:hover:not(:disabled) {
  background-color: #FBD1A2;
}

.pagination button:not(:disabled) {
  background-color: #F79256;
}

.pagination span {
  margin: 0.5rem;
}

tbody tr:hover {
  background-color: #FBD1A2;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

button:is(:disabled) {
  background-color: darkgray;
}

label {
  margin-bottom: 10px;
}

input[type="date"],
input[type="time"],
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
}

.submit, .cancel, .delete {
  background-color: #0077c0;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button[type="submit"]:is:not(disabled):hover {
  background-color: #005ea0;
}

.cancel {
  background-color: #CEC075;
}

.delete {
  background-color: #C05746;
  margin-left: 1rem;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-container .column {
  width: 49%;
}

.edit:hover {
  cursor: cell;
}